<header>
  <h2>My courses</h2>
  <p>TODO: List all courses.</p>
  <div id="course-list">
    <%= render @courses %>
  </div>
</header>

<h3>Add course</h3>
<div class="align-center">
  <%= render 'form' %>
</div>