<p id="notice"><%= notice %></p>

<div id="course-details">
    <header>
      <h3>
        <span class="course-code"><%= @course.code %></span>
      </h3>
    </header>
  
    TODO: Implement more!
</div>